<div id = "footer">
    <div class = "containter">
        <p>
            Join from Aug 17, 2020
            <br>
            <a href="http://www.cse.ohio-state.edu/">Department of Computer Science 
            and Engineering</a>
            <br>
            Graduated from Purdue University
            <br>
            Email: tamaldey@purdue.edu
        </p>
    </div>
</div>