<div id = "footer">
    <div class = "containter">
        <p>
            Join from Aug 17, 2020
            <br>
            <a href="http://www.cse.ohio-state.edu/">Department of Computer Science 
            and Engineering</a>
            <br>
            Graduated from Purdue University
            <br>
            Email: tamaldey@purdue.edu
            <br><br>
            <img src="images/OSU+2018+logo.jpg" border="3",width = "450" height = "90">
        </p>
    </div>
</div>