   
<div id = "header">
<img src="images/Gemfile.png" id="_x0000_i1025" alt="" border="3" height="70" width="50">
<font size = "+3"><b>Professor Tamal Krishna Dey</b></font><br>
(<a href="http://www.cse.ohio-state.edu/%7Etamaldey/cv.pdf">Curriculum&nbsp; Vitae</a>)

<br>
(<a href="https://www.acm.org/media-center/2018/december/fellows-2018">Fellow ACM</a>, <a href="https://www.computer.org/web/pressroom/CS-Fellows-2017">&nbsp;Fellow IEEE</a>, <a href="http://solidmodeling.org/awards/sma-fellows/sma-fellows-2019/">Fellow SMA</a>)
<br>
<div class = "headerfont">
<span style="font-size:  13.5pt;"><a href="http://www.cse.ohio-state.edu/">Department of Computer           Science 
            and          Engineering</a></span>
<span style="font-size: 13.5pt;"> <br>
<font >The   Ohio   State    University</font>

</span>
    </div>
<br><br>
    <big>
<nav>
        <a href='education.html' class="nav-link">Education</a>|
        <a href='research.html' class="nav-link">Research</a>|
        <a href='teaching.html' class="nav-link">Teaching</a>|
        <a href='professional_activities.html' class="nav-link">Professional Activities</a>
</nav>
        </big>
</div>
