   
<div id = "header">
    <div class = "header_info">
        <div class = "first">

<font size = "+3">Professor <b>Tamal Krishna Dey</b></font><br><br>
(<a href="http://www.cse.ohio-state.edu/%7Etamaldey/cv.pdf">Curriculum&nbsp; Vitae</a>)

<br><br>
(<a href="https://www.acm.org/media-center/2018/december/fellows-2018">Fellow ACM</a>, <a href="https://www.computer.org/web/pressroom/CS-Fellows-2017">&nbsp;Fellow IEEE</a>, <a href="http://solidmodeling.org/awards/sma-fellows/sma-fellows-2019/">Fellow SMA</a>)<br>
<br>
<span style="font-size:  13.5pt;"><a href="http://www.cse.ohio-state.edu/">Department of Computer           Science 
            and          Engineering</a></span>
<span style="font-size: 13.5pt;"> <br><br>
<font >The   Ohio   State    University</font>
    </span>

    </div>
        <div class = "second">
            <img src="images/Gemfile.png" id="_x0000_i1025" alt="" border="3" height="210" width="150">
        </div>
        <div class="clear"></div>
    </div>

<nav class = "main-navigation">
    <div>
        <a href='index.html'>Home</a>&ensp;|&ensp;
        <a href='education.html'>Education</a>&ensp;|&ensp;
        <a href='research.html'> Research</a>&ensp;|&ensp;
        <a href='teaching.html'> Teaching</a>&ensp;|&ensp;
        <a href='professional_activities.html'> Professional Activities</a>

    </div>
</nav>
</div>

