
  
<div class = "section">
    <h3>
<tr>
<ul>
<li>
B.E.     Jadavpur University, Calcutta     1981-1985
</li><br>
<li>
M.E.     IISC, Bangalore    1985-1987
</li><br>
<li>
PHD     Purdue University    1988-1991
</li><br>
<li>
Post Doctorate     U. of Illinois, U-C     1991-1992
</li><br>

</ul> 
</tr>
    </h3><br><br>
    
    
</div>