
<div class = "section">
    <div class = "subsection">
    <h3 id = "home">
        A Book on
        <span class = "book_name">
        Curve and Surface Reconstruction : Algorithms with Mathematical Analysis
        </span>
        <br>
        Author: Tamal. K. Dey
        <br>
        Published by Cambridge University Press, October 2006
        <br>
        <a href="http://www.cse.ohio-state.edu/%7Etamaldey/book/recon/preface.pdf">Preface
                     and contents</a>
        <br><br>
        A Book on
        <span class = "book_name">
        Delaunay Mesh Generation
        </span>
        <br>
        Author: Siu-Wing Cheng, Tamal K. Dey, Jonathan R. Shewchuk
        <br>
        Published by CRC Press, December 2012
See Details including sample chapters
        <br>
        <br>
        <br>
        For book chapters and papers visit <a href = "https://www.cs.purdue.edu/homes/tamaldey/papers.html">Publications</a>
        </h3>
    </div>
    
    
</div>