<div class = "section">
   <!--<h2>Research</h2> -->
   <h3>Personnel</h3>
   <div class = "subsection">
      <h5>Current</h5>
      <div class = "subsection1">
         <ul>
            <li>Jiayuan Wang, PhD</li>
            <li>Tianqi Li, PhD</li>
            <li><a href = "http://web.cse.ohio-state.edu/~mandal.25/">Sayan Mandal</a>, PhD</li>
            <li>Cheng Xin, PhD</li>
            <li><a href = "http://web.cse.ohio-state.edu/~slechta.3/"> Ryan Slechta</a>, PhD</li>
            <li>Tao Hou, PhD</li>
            <li>Soham Mukherjee, PhD</li>
         </ul>
      </div>
      <h5>Past</h5>
      <div class = "subsection1">
         <ul>
            <li>Alfred Rossi, post-doc</li>
            <li> Mickael Buchet, post-doc, currently at Tohoku Univ, Japan</li>
            <li>Ramsay Dyer, post-doc, currently at INRIA,France</li>
            <li>Hyuckje Woo, Post-doc, Prof. KINST, Korea</li>
            <li><a href = "https://people.mpi-inf.mpg.de/~jgiesen">Joachim Giesen</a>, Post-doc, Prof. U. Jena, Germany</li>
            <li>Dayu Shi, Phd, Google</li>
            <li>Lei Wang, Phd, Google</li>
            <li>Andrew Slatton, Phd</li>
            <li>Fengtao Fan, Phd, Google</li>
            <li><a href = "https://cse.osu.edu/~busaryev>">Oleksiy Busaryev</a>, PhD, Google</li>
            <li><a href = "http://staff.cse.tamu.edu/kuiyu/">Kuiyu Li</a>, PhD, post-doc at Texas A&amp;M</li>
            <li>Pawas Ranjan, PhD</li>
            <li><a href = "https://jalevine.bitbucket.io/">Joshua Levine</a>, PhD, post-doc at U. Utah, Prof. U. of Arizona</li>
            <li>Jian Sun, PhD, post-doc at Stanford and Princeton, Prof. Tsinghua U., China</li>
            <li><a href = "http://www.cse.ohio-state.edu/~rayt">Tathagata Ray</a>, PhD, Prof. BITS, Pilani,India</li>
            <li>Samrat Goswami, PhD, post-doc at UT-Austin</li>
            <li>Wulue Zhao, PhD</li>
            <li>James Hudson, PhD, Prof. at Swansee U.</li>
            <li>Naveen Leekha, Masters, NVIDA</li>
            <li>Luke Molnar, Masters</li>
         </ul>
      </div>
   </div>
   <h3>Projects</h3>
   <div class = "subsection">
      <h5><a href = "https://web.cse.ohio-state.edu/~dey.8/geohome.html">Computational Geometry and Topology in Geometric Modeling and Graphics</a></h5>
      <div class = "subsection1">
         <ul>
            <li>Reconstruction</li>
            <ol>
               <li> <a href="http://www.cse.ohio-state.edu/%7Etamaldey/curverecon.htm">Curve reconstruction</a>
               </li>
               <li>                               <a href="http://www.cse.ohio-state.edu/%7Etamaldey/surfrecon.htm">Surface reconstruction <br>
                  </a>
               </li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/SingularCocone/singularcocone.html">Non-smooth, non-manifold surface reconstruction</a><br>
               </li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/isotopic.html">Boundary reconstruction</a><br>
               </li>
            </ol>
            <li><a href = "https://web.cse.ohio-state.edu/~dey.8/mesh.html">Meshing</a></li>
            <ol>
               <li>                               <a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-volume.html">Polyhedra</a></li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-smooth.html">Smooth 
                  surface</a>
               </li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-smooth.html">Remeshing</a></li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-iso.htm">Isosurface</a></li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-psc.html">Piecewise smooth
                  complexes</a>
               </li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/LocDel.html">Localized Delaunay 
                  refinement</a><br>
               </li>
            </ol>
            <li>Homology features</li>
            <ol>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/handle/hantun.html">Handle 
                  and tunnel loops</a>
               </li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/homology.html">Shortest homology
                  bassis</a>
               </li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/homology.html">Optimal homologous 
                  cycles</a>
               </li>
            </ol>
            <li>Shape features</li>
            <ol>
               <li>                               <a href="http://www.cse.ohio-state.edu/%7Etamaldey/medialaxis.htm">Medial axis</a></li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/cskel.html">Curve skeletons	</a><br>
               </li>
               <li>                               <a href="http://www.cse.ohio-state.edu/%7Etamaldey/dimensiondetection.htm">Dimension 
                  detection</a> 								
               </li>
               <li>                               <a href="http://www.cse.ohio-state.edu/%7Etamaldey/segmentation.html">Shape 
                  segmentation and matching</a>
               </li>
               <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/normfet.html">Normal and 
                  feature approximation</a>
               </li>
            </ol>
            <li>Data sparsification</li>
            <ol>
               <li><a href = "https://web.cse.ohio-state.edu/~dey.8/GIC/gic.html">Graph Induced complex</a></li>
            </ol>
            <li>Simplification</li>
         </ul>
      </div>
      <h5><a href = "https://web.cse.ohio-state.edu/~dey.8/geometry-papers.htm">Computational and combinatorial geometry</a></h5>
      <h5><a href = "http://www.cse.ohio-state.edu/~tamaldey/topology-papers.htm">Computational topology (NSF report)</a></h5>
   </div>
   <h3>Software</h3>
   <div class = "subsection">
      <h5>Reconstruction</h5>
      <div class = "subsection1">
         <ul>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/cocone.html">Cocone</a>: 
               Software for surface reconstruction based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/undsamp/paper.pdf.gz">paper.</a>
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/amls.html">AMLS</a> software
               for noisy point cloud smoothing based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/amls/amls-extend.pdf">paper</a>. <br>
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/SingularCocone/singularcocone.html">SingularCocone</a> software for reconstructing surfaces with singular features<br>
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/Peel.html">Peel</a> software 
               for reconstructing surfaces with boundaries based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/recon-bound/boundary.pdf">paper</a><br>
            </li>
         </ul>
      </div>
      <h5>Meshing</h5>
      <div class = "subsection1">
         <ul>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/delpsc.html">DelPSC</a>:
               software for Delaunay meshing of surfaces, volumes, complexes
               based      on                     <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/delpsc/imr07.pdf">paper</a>, 
               <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/delpsc/delpsc.ppt">talk 
               slides</a>, [<a href="http://www.cse.ohio-state.edu/%7Etamaldey/delpsc/video">video</a>]
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/locpsc.html">LocPSC</a>: Localized version of DelPSC, runs faster. based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/locpsc/locpsc.pdf">paper</a>.<br>
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/qualmesh.html">Qualmesh</a>:
               Software for quality Delaunay meshing of polyhedra based
               on                     <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/qualmesh/qualmesh.pdf">paper</a>.
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/surfremesh.html">SurfRemesh</a>:
               software for Delaunay meshing of polygonal surfaces based
               on                     <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/remesh/remesh.pdf">paper</a>.
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/deliso.html">DelIso</a>:
               software for Delaunay meshing of isosurfaces
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/locdel-soft.html">LocDel</a> 
               software for generating large Delaunay meshes<br>
            </li>
         </ul>
      </div>
      <h5>Momology Feature</h5>
      <div class = "subsection1">
         <ul>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/hantun.html">HanTun </a>software 
               for computing handle and tunnel loops on surfaces based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/hantun-persist/hantun.pdf">paper</a> 
               [<a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/hantun-persist/hantun-sig2008.mov">video</a>]
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/handle/ReebHanTun-download/reebhantun.html">ReebHanTun </a>software for handle and tunnel loops that does not require 3D tessellation, <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/reeb-hantun/reeb-hantun.pdf">paper</a>, <a href="http://www.cse.ohio-state.edu/%7Etamaldey/handle/hantun.html">web-page</a><br>
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/shortloop.html">ShortLoop</a> 
               software for computing loops in a shortest homology basis based on 
               <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/pcdloop/pcdloop.pdf">paper</a>.
            </li>
            <li><a href="http://web.cse.ohio-state.edu/%7Edey.8/PersLoop/">PersLoop</a> software for persistent &nbsp;1-cycles</li>
         </ul>
      </div>
   
   <h5>Data Sparsification</h5>
   <div class = "subsection1">
      <ul>
         <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/GIC/GICsoftware">GIC software</a></li>
         <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/SimPers/Simpers.html">SimpPers software</a> (computes persistence for simplicial maps)</li>
         <li><a href="http://web.cse.ohio-state.edu/%7Etamaldey/SimBa/Simba.html">SimBa software</a> (computes persistence of Rips filtration efficiently)<br>
         </li>
      </ul>
       </div>
      <h5>Shape features</h5>
      <div class = "subsection1">
         <ul>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/cocone.html">Medial</a>: 
               Software for 3D medial axis based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/medial/medial-ex.pdf">paper</a>
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/segmatch.html">SegMatch</a>: 
               Software for shape segmentation and shape matching 
               based      on                     <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/matching/feature.pdf">paper</a>
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/normfet.html">NormFet</a> 
               software for normal and feature size estimation from 
               point      cloud      based      on                   <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/norfet/paper.pdf">paper</a>.&nbsp;
            </li>
            <li><a href="http://www.cse.ohio-state.edu/%7Etamaldey/cskel.html">CurveSkel</a>
               software for curve skeleton of 3D shapes based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/curve-skeleton/cskel.pdf">paper</a>.
            </li>
         </ul>
      </div>
      <h5><a href="http://www.cse.ohio-state.edu/graphics/research/CurveRecon/gathan.tar">Gathan 
         software for curve reconstruction </a>based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/sharp/paper.ps.gz">paper.</a>
      </h5>
      <h5>
         <a href="http://www.cse.ohio-state.edu/%7Etamaldey/Crust/">Nearest neighbor 
         curve reconstruction Applet</a> based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/curve/paper.ps.gz">paper</a> 
         and a topology clean up.
      </h5>
   
       </div>
</div>