  
<div class = "section">
    <h5>
<tr>
    
   <ul>
       <li>
       CSE 2331 Data Structers & Algorithms (AU15)
       </li>
       <li>
       Shape Modeling in graphics and visualization (SP00)
       </li>
       <li>
       Subdivsion Surfaces (W00)
       </li>
       <li>
       <a HREF = "https://web.cse.ohio-state.edu/~dey.8/course/6331/">CSE 6331</a> Algorithms (AU12)
       </li>
       <li>
       <a HREF = "https://web.cse.ohio-state.edu/~dey.8/course/6332/">CSE 6332</a> Advanced Algorithms (SP19)
       </li>
       <li>
       <a HREF = "https://web.cse.ohio-state.edu/~dey.8/course/CTDA/CTDA.html">CSE 5559</a> Computational Topology and Data Analytics (SP17)
       </li>
       <li>
       <a HREF = "https://web.cse.ohio-state.edu/~dey.8/course/784/syllabus.html">CSE 5543</a> Geometric Modeling (SP18)
       </li>
       <li>
       <a HREF = "https://web.cse.ohio-state.edu/~dey.8/course/625/">CSE 625</a> Formal Languages and Automata Theory (W09)
       </li>
       <li>
       <a HREF = "https://web.cse.ohio-state.edu/~dey.8/course/625/">CIS 788</a> Sample Based Geometric Modeling for Graphics and Visualization
       (AU05)
       </li>
   </ul>
        
</tr>
    </h5>
            <br>
</div>